.load-more-container{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.products-container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 10px;
}

.products{
 display: flex;
 flex-direction: column;
 padding: 20px;
 border: 1px solid;
}

.products img{
 width: 200px;
 height: 200px;
}